body {
    color: black;
}

h1 {
    color: wheat;
    background-color: black;
    margin-top: 2em;
    margin-bottom: 1.25em;
    text-align: center;
}

h2 {
    background-color: black;
    color: wheat;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 30px;
}

h3 {
    color: rgb(12, 12, 80);
    font-size: 1.25em;
    background: rgb(238, 212, 202);
}

h4 {
    color: rgb(12, 12, 80);
    font-size: 130%;
    background: rgb(238, 212, 202);
}